@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Universal: Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: white;
}
/* Universal: End */

/* Root: Start */
/* Root: End */

/* Body: Start */
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  /* background: linear-gradient(#71befd, #288fec, #0b72cf); */
  background: url("../img/bg2.svg");
  background-size: cover;
  /* overflow: hidden; */
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1000px;
}
.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  backdrop-filter: blur(4.9px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  height: 100%;
}
.grid-item-1 {
  grid-column: span 2;
  grid-row: span 3;
}
.grid-item-2 {
  grid-column: 3 / span 1;
  grid-row: 1;
}
.grid-item-3 {
  grid-column: 4 / span 1;
  grid-row: 1;
}
.grid-item-4 {
  grid-column: 5 / span 1;
  grid-row: 1;
}
.grid-item-5 {
  grid-column: 6 / span 1;
  grid-row: 1;
}
.grid-item-6 {
  grid-column: span 2;
  grid-row: span 2;
}
.grid-item-7 {
  grid-column: 5 / span 1;
  grid-row: span 1;
}
.grid-item-8 {
  grid-column: 6 / span 1;
  grid-row: span 1;
}
.grid-item-9 {
  grid-column: 5 / span 1;
  grid-row: span 1;
}
.grid-item-10 {
  grid-column: 6 / span 1;
  grid-row: span 1;
}
.grid-item-1 {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid-item-2,
.grid-item-3,
.grid-item-4,
.grid-item-5,
.grid-item-7,
.grid-item-8,
.grid-item-9,
.grid-item-10 {
  width: 150px;
  height: 150px;
}
.grid-item-6 {
  width: 315px;
  height: 325px;
}

/* Body: End */

/* Content: Start */
.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* part 1 */
.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* margin-top: -20px; */
}
.city,
.state-country,
.condition,
.temperature,
.sunrise-sunset {
  width: 100%;
  margin: 0;
}
.city {
  font-size: 2.3rem;
  font-weight: 800;
}
.state-country {
  margin-top: -10px;
  font-size: 1.3rem;
  font-weight: 600;
}
.time-zone {
  font-size: 1rem;
  font-weight: 200;
}
.condition {
  font-size: 2rem;
  font-weight: 600;
}
.temperature {
  font-size: 2rem;
  font-weight: 200;
}
.sunrise-sunset {
  margin-top: -5px;
  font-size: 0.8rem;
  font-weight: 100;
}
.search {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: start;
  position: relative;
  width: 230px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  backdrop-filter: blur(4.9px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
input,
#look {
  background: transparent;
  border: none;
  outline: none;
}
input {
  padding: 15px 25px;
  width: 90%;
  color: white;
}
input::placeholder {
  color: rgb(255, 255, 255);
}
#look {
  width: 20px;
  position: absolute;
  top: 14px;
  right: 20px;
  cursor: pointer;
}
#look:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

.copyright {
  font-size: 0.5rem;
  font-weight: 400;
}

/* part 2 */
.forecast-daily {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.day {
  font-size: 0.9rem;
  font-weight: 200;
}
.day-img {
  width: 40px;
}
.temp-daily {
  font-size: 1rem;
  font-weight: 200;
}

/* part 3 */
table img {
  width: 40px;
}

/* part 4 */
.day {
  font-size: 1rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}
#humidity {
  font-size: 3rem;
}
.temp-feels {
  font-size: 0.7rem;
}
#feels_like {
  font-size: 1.5rem;
  font-weight: 400;
}
#windSpeed,
#direction {
  font-size: 1.2rem;
}
#pressure {
  font-size: 1.5rem;
}
.forecast-daily {
  justify-content: center;
  align-items: center;
}
#icon-humidity {
  width: 20px;
  margin-top: 8px;
  margin-right: 3px;
}
#icon-temperature {
  width: 20px;
  margin-top: 8px;
  margin-right: 3px;
}
#icon-pressure {
  width: 20px;
  margin-top: 8px;
  margin-right: 3px;
}
#icon-wind {
  width: 20px;
  margin-top: 8px;
  margin-right: 3px;
}

/* weather icons */
.weather-image {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.weather-image img {
  width: 200px;
  animation: upDown 10s linear infinite;
}
.weather-image img.sunny-animation {
  animation: sunny-bounce 10s linear infinite;
}

/* tooltips */
.tooltip {
  position: relative;
}
.tooltip-text {
  visibility: hidden;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 60px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  position: absolute;
}
#tooltip-search {
  font-size: 0.7rem;
}
.grid-item .tooltip-text {
  width: 315px;
  height: 150px;
}
.grid-item-7 .tooltip-text,
.grid-item-8 .tooltip-text {
  top: 113px;
}
.grid-item-9 .tooltip-text,
.grid-item-10 .tooltip-text {
  bottom: 173px;
}
.grid-item-8 .tooltip-text,
.grid-item-10 .tooltip-text {
  right: 0px;
}
.grid-item-7 .tooltip-text,
.grid-item-9 .tooltip-text {
  left: 0px;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.tooltip:hover {
  outline: 1px solid white;
}
.tooltip:hover:not(.search) {
  z-index: 1000000;
}

/* back page button */
.home-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
#home {
  color: white;
  font-size: 0.7rem;
  margin: auto;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.ri-arrow-left-circle-line {
  color: white;
  font-size: 1rem;
  margin-right: 5px;
  transition: transform 0.3s ease-in-out;
}
#home:hover {
  cursor: pointer;
}
#home:hover .ri-arrow-left-circle-line {
  animation: hover-move 0.6s ease-in-out alternate infinite;
}
/* Content: Keyframes */
@keyframes hover-move {
  from {
    transform: translateX(2px);
  }
  to {
    transform: translateX(-2px);
  }
}
@keyframes upDown {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
}
@keyframes sunny-bounce {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-10px) rotate(90deg);
  }
  50% {
    transform: translateY(0) rotate(180deg);
  }
  75% {
    transform: translateY(10px) rotate(270deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

/* Content: Media Query */
@media (max-width: 1000px) {
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0 20px 0;
  }
  .grid-item-1,
  .grid-item-2,
  .grid-item-3 {
    width: 100%;
  }
  .grid-item-2,
  .grid-item-3 {
    width: calc(50% - 15px);
  }
  .grid-item {
    width: 150px;
    margin-bottom: 5px;
  }
  #clearsky {
    width: 170px;
  }
  .grid-item-6 {
    width: 650px;
    margin: 0px 20px;
  }
  .home-icon-container {
    margin-bottom: 100px;
  }
}
@media (max-width: 500px) {
  .grid-item-1 {
    padding: 10px 0;
    margin: 10px 0 65px 0;
  }
  .grid-item-6 {
    width: 315px;
  }
  .grid-item .tooltip-text {
    width: 315px;
    max-height: 150px;
  }
  .grid-item-7 .tooltip-text,
  .grid-item-8 .tooltip-text {
    top: 110px;
  }
  .grid-item-9 .tooltip-text,
  .grid-item-10 .tooltip-text {
    bottom: 170px;
  }
  .grid-item-8 .tooltip-text,
  .grid-item-10 .tooltip-text {
    right: 0px;
  }
  .grid-item-7 .tooltip-text,
  .grid-item-9 .tooltip-text {
    left: 0px;
  }
  .home-icon-container {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}
/* error message */
.floating-message {
  position: fixed;
  font-size: 0.7rem;
  top: 60px;
  left: 50%;
  width: 230px;
  transform: translateX(-50%);
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
  padding: 16px;
  border-radius: 25px;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  display: none;
  transition: opacity 300ms ease-in-out;
}
.search a {
  text-decoration: underline;
  font-style: italic;
}
/* Content: End */
